			/*-------------------------ICONOS--------------------------------------------------*/
			.icono_grandes{
				font-size: 8em !important;
			}
			#icono_user{
				color: white;
				margin-top: 10px;
				font-size: 3em;
			}
			#iconos_der{
				height: 70vh;
			}
			/*-------------FIN------------ICONOS--------------------------------------------------*/

			/*-------------------------CAJAS--------------------------------------------------*/
			.separar{
				margin-bottom: 8px;
			}
			#caja, #izq,#der{
				height: 100vh;
			}
			
			.caja_izq{
				margin-top: 30px;
			}
			.caja_der{
				margin-top: 80px;
			}
			/*--------------FIN-----------CAJAS--------------------------------------------------*/

			/*-------------------------MENUS--------------------------------------------------*/
			.submenu{
				margin-right: 5px;
			}
			.navbar h2{
				color: white !important;
			}
			#menu{
				position: absolute;
				top: 0px;
				right: 0px;
				left: 14px;
			}
			.navbar-right{
				margin-right: 20px;
			}
			.icon-menu{
				/*menu de empleados evaluacion*/
				margin-top: 15% !important;
			}
			/*--------------FIN-----------MENUS--------------------------------------------------*/


			/*-------------------------COLORES--------------------------------------------------*/
			.purple{
				background: #b4a7d6 !important;
 			}
			.morado{
				color: #8e7cc3;
				text-decoration: none !important;
			}
			.azul{
				color: #085394 !important;
				text-decoration: none !important;
			}
			.verde{
				color: #93c47d;
				text-decoration: none !important;
			}
			.amarillo{
				color: #ffd966;
				text-decoration: none !important;
			}
			.blanco{
				color: white;
				text-decoration: none !important;
				transition:color 0.2s;
			}
			/*HOVER*/
			.blanco:hover{
				color: #ddd;
				text-decoration: none !important;
				box-shadow: 0px 0px 55px white inset;
			}
			.verde:hover{
				color: #38761d !important;
				text-decoration: none !important;
			}
			.amarillo:hover{
				color: #bf9000 !important;
				text-decoration: none !important;
			}
			.morado:hover{
				color: #674ea7 !important;
				text-decoration: none !important;
			}
			/*--------------FIN-----------COLORES--------------------------------------------------*/

			/*-------------------------CENTRAR DIVS--------------------------------------------------*/
			.row-centered {
			    text-align:center;
			}
			.col-centered {
			    display:inline-block;
			    float:none;
			    /* reset the text-align */
			    text-align:left;
			    /* inline-block space fix */
			    margin-right:-4px;
			}
			.centrar_div{
				width: 40%;
				margin: 0 auto;
			}
			.centrar-icons{
				/*iconos de evaluacion empleados*/
				width: 80%;
				margin: 0 auto;
				text-align: center !important;
			}
			/*--------------FIN-----------CENTRAR DIVS--------------------------------------------------*/

			/*-------------------------LISTAS--------------------------------------------------*/
			.list-group-item-header{
				background: rgba(0,0,0,0.2) !important;
				height: 30px !important;
				font-size: 0.9em;
			}
			.list-group-item{
                height: 60px;
            }
            .list-group-item:nth-child(even){
                background: #eeeeee;
            }
            .list-group-item:nth-child(odd){
                background: #dddddd;
            }
			/*--------------FIN-----------LISTAS--------------------------------------------------*/

			/*-------------------------TEXTOS--------------------------------------------------*/
			h4{
				color: black;
			}
			/*--------------FIN-----------TEXTOS--------------------------------------------------*/

			/*-------------------------RESPONSIVE--------------------------------------------------*/
			@media(max-width:990px){
				#izq{
					display: block;
				}
				.centrar_div{
					width: 80%;
				}
				.centrar-icons{
					width: 100%;
					margin: 0 auto;
					text-align: center !important;
				}
				.icon-menu{
					/*menu de empleados evaluacion*/
					margin-top: 25% !important;
				}
			}
			/*--------------FIN-----------RESPONSIVE--------------------------------------------------*/
			
			/*-------------------------IMAGENES--------------------------------------------------*/
			#img-logo{
				width: 15vw;
				height: 15vw;
				margin: 0 auto;
				border-radius: 100vw;
				border: 1px solid black;
			}
			#img-fondo{
				background: url(../img/tablero.png);
				background-size: 95% 92%;
				background-position: center;
				background-repeat: no-repeat;
			}
			/*--------------FIN-----------IMAGENES--------------------------------------------------*/

			
			
			
			
			/*Centrar texto*/
			.texto-center{
				text-align: center;
			}
			/*Boton redondo*/
			.btn-circle {
			  width: 30px;
			  height: 30px;
			  text-align: center;
			  padding: 6px 0;
			  font-size: 12px;
			  line-height: 1.42;
			  border-radius: 15px;
			}
			
            
            